.coverPhoto {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 150px;
    margin: 0 auto;
}
.academica.row {
    background: #f1eded;
    padding: 20px 0px;
}
ul.academic-ul li {
    float: left;
    padding: 4px;
    width: 15%;
    list-style: none;
}

li.li-xl {
    width: 35% !important;
}